* {
  margin: 0;
}

body {
  height: 100vh;
  background-color: wheat;
  display: flex;
  align-items: center;
}

.container {
  min-width: 1000px;
  height: 600px;
  background: linear-gradient(
    0deg,
    rgba(0, 196, 255, 1) 0%,
    rgba(86, 216, 255, 1) 35%,
    rgba(114, 253, 255, 1) 100%
  );
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.balloon_field {
  min-width: 100%;
  height: 70%;
  position: relative;
}

.balloon {
  width: 60px;
  height: 75px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: absolute;
}

.balloon::before {
  content: "▲";
  font-size: 16px;
  color: rgba(255, 255, 255, 0.468);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  bottom: -17px;
  left: 30px;
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-6deg);
  }
  50% {
    transform: translateY(-20px) rotate(8deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
}

.flag {
  width: 250px;
  height: 60px;
  position: absolute;
  top: 370px;
  left: 200px;
  transform: rotate(-7deg);
  animation: rotate 3s linear infinite;
}

.heart_field {
  position: absolute;
  border-radius: 50%;
  top: 370px;
  left: 630px;
}

.heart {
  width: 70px;
  height: 70px;
  background: #ea2027;
  border-radius: 7px;
  position: relative;
  cursor: pointer;

  animation: beat 2s ease-in-out infinite;
  transform: rotate(70deg);
  transition: transform 100ms ease-in;

  &::before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #ea2027;
    position: absolute;
    left: -50%;
  }

  &::after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #ea2027;
    position: absolute;
    top: -50%;
    left: 0%;
  }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(70deg);
  }
  50% {
    transform: scale(1.1) rotate(70deg);
  }
}

.sale {
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  z-index: 1;
}

.house_field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house {
  width: 200px;
  cursor: pointer;

  transform-origin: center bottom;
  transition: transform 100ms ease-in;

  &:hover {
    transform: scale(1.1);
  }
}
